.fe-65d10c72dcfabe1819ed4f74 {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(21,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .fe-65d10c72dcfabe1819ed4f74 {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(18,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}

/* Title Block */
.fe-block-d02bd34dc1b79be8e3e5 {
  grid-area: 1/2/3/10;
  z-index: 0;
}

@media (min-width: 768px) {
  .fe-block-d02bd34dc1b79be8e3e5 {
    grid-area: 1/3/4/25;
  }
}

/* Text Block ("Starting therapy is courageous...") */
.fe-block-bbfe74ed65b8f19279f8 {
  grid-area: 3/2/6/10;
  z-index: 1;
}

@media (min-width: 768px) {
  .fe-block-bbfe74ed65b8f19279f8 {
    grid-area: 5/3/8/11;
  }
}

/* Main Image Block (Arch) */
.fe-block-00845cbaa30d64410884 {
  grid-area: 6/2/13/10;
  z-index: 4;
}

@media (min-width: 768px) {
  .fe-block-00845cbaa30d64410884 {
    grid-area: 8/4/21/8; /* Taller (8-21) & Narrower (4-8) */
  }
}

/* Circle Image Block (Overlapping) */
.fe-block-c3e6f01da2b241b1bb42 {
  grid-area: 9/6/13/9;
  z-index: 5;
}

@media (min-width: 768px) {
  .fe-block-c3e6f01da2b241b1bb42 {
    grid-area: 13/7/17/10;
  }
}

/* Info Box Block (Green Box) */
.fe-block-bcb3046ddcbbf7c34cb6 {
  grid-area: 14/2/22/10;
  z-index: 3;
}

@media (min-width: 768px) {
  .fe-block-bcb3046ddcbbf7c34cb6 {
    grid-area: 5/15/12/27; /* Extended to Right Edge (27) for more width/right-shift */
  }
}

/* Info Box Styling */
.info-box-content {
    background-color: #223614;
    padding: 6%;
    color: rgb(194, 191, 203);
    font-size: 18.5px;
    height: 100%;
}
